<%= form_for article do |f| %>

  <% if article.errors.any? %>
    <p>The article could not be saved for the following reasons</p>
    <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label      :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label      :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label     :body %><br />
    <%= f.text_area :body %>
  </p>

  <%= f.submit %>
  <%= link_to "Cancel", article %>
<% end %>
