<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <p class="flash" id="flash_<% key %>"><%= value %></p>
<% end %>

<%= yield %>

<div class="hit-count">
  <p>Hit count: <%= session[:hit_count] %></p>
</div>

</body>
</html>
